body.login {
	background:url(../img/login-background-2.jpg) no-repeat left top;
	background-size: cover;

	
}
#login{
		width:100%;
	max-width: 	480px;
	min-width: 	320px;
}

body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
	background:url(../img/Beauty-Insider-Logo.jpg) no-repeat left top;
	width:250px;
	height:80px;
}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit, #wp-submit {
	float: left;
	display: block;
	clear: both;
	width: 100%;
	margin-top: 10px;
}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}

p.login-head {
	text-align: center;
    font-size: 18px;
    font-weight: 700;
}

p.login-sub {
	text-align: center;
    font-style: italic;
}

.login form {
	margin-top: 0px;
}

.wow-fb-login::before {
	font-family: "FontAwesome";
	content: "\f09a";
	font-size: 13px !important;
	color: #ffffff;
	margin-right: 5px;
}

.wow-fb-login {
	font-size: 13px !important;
	padding: 5px 10px 5px 10px !important;
	border: 0px solid #ffffff;
	border-radius: 2px !important;
	background: #3b5998;
	color: #ffffff;
	box-shadow: 0px 1px 1px #000;
	display:block;
	width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.wplogin_lm_title {
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 36px;
    color: #111;
    display: block;
    margin-bottom: 15px;
    margin-bottom: 15px !important;
    line-height: 1;
    font-weight: normal;
}
.wplogin_lm_sub-title, .message.register {
    line-height: 1;
	background: #e80062;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    padding: 15px 0;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 0;
    width: 100%;
    display: block;
    margin-top: 15px !important;
	border:none !important;
}
#wp-submit {
    background: #e80062;
    display: block;
    border: 2px solid #e80062;
    border-radius: 0;
    text-shadow: none !important;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 21px;
    height: auto;
    padding: 10px 5px;
}
.wow-fb-login {
    background: #666!important;
    display: block!important;
    border: 2px solid #666!important;
    border-radius: 0!important;
    text-shadow: none !important;
    box-shadow: none!important;
    text-transform: uppercase!important;
    font-size: 21px!important;
    height: auto!important;
    padding: 10px 5px!important;
}
.wow-fb-login::before {
    font-size: 18px !important;
}
.login #nav {
    margin: 24px 0 0;
    text-align: center;
}
body.login div#login p#backtoblog {
    text-align: center;
}