#HomeSliderCarousel .slider-caption {
	width: 30% !important;
}
#HomeSliderCarousel .hslide_the_title {
	font-size: 20px !important;
}
.mbc {
	display: none !important;
}
.mbc-off {
	display: block !important;
}
.mbc-off {
    display: block !important;
    margin-bottom: 0 !important;
}
#main-nav {
    margin: 0 !important;
}
 @media screen and (max-width:767px) {
.cw-above-header {
	background: #d0004e;
	font-family: Catamaran;
	font-weight: 400;
	font-size: 80%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 3px 0;
}
#HomeSliderCarousel .slider-caption {
	width: 100% !important;
	padding-top: 2% !important;
}
#HomeSliderCarousel .hslide_the_title {
	font-size: 70% !important;
}
#HomeSliderCarousel .carousel-indicators-1 li {
	height: 70px;
}
#HomeSliderCarousel .slider-caption .post-categories li a {
	font-size: 80% !important;
}
#HomeSliderCarousel .slider-caption {
	top: 65% !important;
}
#HomeSliderCarousel .hslide_the_excerpt {
	display: none !important;
}
span.mobile-title {
	font-size: 80% !important;
}
.mbc {
	display: block !important;
}
.mbc-off {
	display: none !important;
}
}
