/*HI RES*/

.multi-checkbox{
  font-size:12px;
}

.erinyen .tp-thumb-title {
  font-size: 14px;
  padding: 9px 20px 9px 10px;
}
#main-search > div {
  margin: 0;
  padding: 0 5px;
  min-width:97%;
}
@media all and (min-width: 768px) {
}
@media all and (max-width: 1199px) {
 .socialicons span {
 font-size: 14px;
}
 .col-md-2.socialicons {
 padding: 0;
 padding-left: 10px;
}
 .nav > li:nth-child(1) > a {
 padding-left: 10px;
}
 .featured-item {
 max-height: 280px;
 border-radius: 50%;
 max-width: 280px;
 margin: 0 auto;
}
 .treatments-column-content {
 padding: 0 35px;
}

}
/*TABLETS*/
@media all and (max-width: 991px) {
 .site-header.affix {
 position: relative;
 border:none;
}
 .site-header.affix-top {
 position: relative;
 border:none;
}
 .pink-dashed span {
 font-size:22px;
}
 .nav > li > a {
 font-size: 13px;
 padding: 10px 10px;
}
 .register-btn {
 font-size:15px;
}
 .socialicons {
 padding-right:0;
 margin-right: 0;
}
 .socialicons .fa {
 font-size: 13px;
 height: 25px;
 line-height: 22px;
 width: 25px;
}
 #site-topmenu {
 display:none;
}
 #site-logo > a {
 display: block;
 text-align: center;
}
 .main-search {
 padding: 5px 15px;
}
 .navbar-nav {
 margin: 10px;
}
 .img-responsive.site-logo-img {
 max-width: 80%;
 height: auto;
}
 .s-widget > div > img {
 width: 100%;
}
 .nav > li:nth-child(1) > a {
 padding-left: 10px;
}
 .featured-item {
 max-height: 280px;
 max-width: 280px;
 border-radius: 50%;
}
.single-product .content-image-banner img {
 display: block;
 margin: 0 auto;
}
.single-product .recent-article-thumb img {
 height: auto;
 width: 100%;
}
body {
  overflow-x: hidden;
}
.page-id-1163 .category-page {
  padding: 0 25px;
}
.page-id-1163 .recent-article-row {
  margin: 0 !important;
  text-align: center;
}
.page-id-1163 .fp-title {
  padding: 10px 0 0;
}
.page-template-default .category-page .recent-articles .fp-title {
  margin-top: 10px;
  text-align: center;
}

#wpadminbar .ab-item{
  max-width: 40px;  
}
.wpseo-score-icon{display:none !important;}

}




@media all and (max-width: 860px) {
.home .erinyen .tp-thumb-title {
 font-size: 10px!important;
 padding: 5px!important;
 line-height: 1;
}
}
/*PHONES LANDSCAPE*/
@media all and (max-width: 767px) {
 .socialicons {
 display:none;
}
 div#main-search {
 width: 100%;
}
 div#main-registration {
 width: 40%;
 padding-right: 0!important;
}
 .navbar-nav > li > ul.sub-menu {
 position: inherit;
}
.category-recent-articles .recent-article-title .fp-title,
.single .recent-article-title .fp-title {
 margin-top: 10px;
 text-align:center;
}
.category-recent-articles .recent-article-thumb {
 max-height: inherit !important;
}
.category-video-box .post {
 min-height: inherit !important;
 position: relative;
 width: 100%;
}
.category-video-box .post img {
 position: relative!important;
 height: inherit!important;
}
.category-page .slick-slide img, .category-page .recent-article-row img, .category-page .category-videos img, .category-page .featured-category-video img, .category-page .category-articles img {
 width: 100%;
}
#main-search > div:nth-child(1) {
 max-width: 70%;
 width: 100%;
 float: left;
}
#main-search > div:nth-child(2) {
 max-width: 30%;
 width: 100%;
 float: left;
}
#main-search > div {
 margin: 0;
 padding: 0 5px;
}
.site-footer {
 padding: 25px;
}
.home .tp-thumbs.inner.erinyen {
 display:none;
}
.readmore.readmore-cat span {
 font-size: 14px;
}
.row.row-sidebar-wrap img {
 max-width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 width: 100%;
}
.row.row-sidebar-wrap {
 max-width: 360px;
 margin: 0 auto;
}
#main {
 padding: 0 10px;
}
.page-template-page-brand .row.category-row {
 margin: 0 -35px;
 padding: 0;
}
.site-footer .container {
 padding: 0;
}
.category-row .product {
 margin-bottom: 15px;
 max-height: inherit;
 overflow: hidden;
 position: relative;
}
.page-template-page-products .recent-article-title, .single-product .recent-article-title {
 padding: 10px 0;
 text-align: center;
}
.row.recent-article-row.recent-article-row-1 {
 margin: 0 !important;
}
.establisment-wrap > div {
 min-height: inherit;
}
.content-image-banner img {
  display: block;
  margin: 25px auto 0;
  width: 100%;
}
.category .recent-article-thumb {
  max-height: inherit;
  padding: 0;
}
#category-recent-articles {
  margin-bottom: 25px;
}
.category .row.recent-article-row {
  margin: 0 !important;

}
.category .recent-articles .fp-title {
  padding-top: 10px;
  text-align: center;
}

.col-item{
  padding:5px;
}

.brands-title-img {
  min-height: 150px;
  background-size: auto 100%;
}

button.navbar-toggle{
	max-width: 44px !important;
}

/*PHONES*/
@media all and (max-width: 479px) {

 .footer-socials .icon-title {
  display: none;
}
.footer-socials li {
  display: inline-block;
}

 #main-registration {
 display:none!important;
}
 div#main-search {
 width: 100%; 
}
 .review-image, .review-title, .review-content {
max-width:100%;
display:block;
}
}
@media all and (min-width: 380px) {
}
/*home slider*/
@media all and (max-width:1460px) {
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(7) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 16.3%;
}
}
@media all and (max-width:1280px) {
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(6) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 19.5%;
}
}
@media all and (max-width:1040px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 67px;
}
.carousel-indicators-1 {
 left:20px !important;
}
  
  
}
@media all and (max-width:740px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 80px;
}
.carousel-indicators-1 {
 left:15px !important;
}
}
@media all and (max-width:670px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 90px;
}
#HomeSliderCarousel .desktop-title {
 display:none !important;
}
#HomeSliderCarousel .mobile-title {
 display:block !important;
}
}
@media all and (max-width:510px) {
#HomeSliderCarousel .carousel-indicators-1 li > span {
 font-size: 15px;
}
}
@media all and (max-width:425px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 100px;
}
#HomeSliderCarousel .slider-caption {
 /*top: 8% !important;*/ 
}
#HomeSliderCarousel .slider-caption {
 min-height: 310px;
}
}
@media all and (max-width:310px) {
#HomeSliderCarousel .carousel-indicators-1 li {
 height: 105px;
}
.carousel-indicators-1 {
 left:10px !important;
}
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(5) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 23.6%;
}
}



/******************* TIMS CHANGES ******************************/



@media screen and (max-width:767px){
  /*
  .cft{
    text-align: center;
    font-size: 115%;
    line-height: 130%;
  }*/

  .footer-title strong{
    font-size: 85%;
  }


  .featured-item {
      border-radius: 50% !important;
      width: 90% !important;
  }

  .mbc{
    display: block !important;
  }

  .mbc-off{
    display: none !important;
  }

  /**above header**/
  .cw-above-header{
    background: #d0004e;
    font-family: Catamaran;
      font-weight: 400;
      font-size: 80%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      padding:3px 0;
  }

  img.site-logo-img{
    max-width: 55% !important;
  }


  /**menu**/
  .navbar-header{
    left: 80px !important;
    margin-top: -65px !important;
  } 

  .navbar-toggle{
    left: 0% !important;
      top: 0% !important;
  }

  .nav > li {
      margin-left: -10px !important;
  }

  #main-search{
     z-index: 1 !important;
  }

  .collapsing{
    position: absolute !important;
      top: 77px !important;
  }


  .navbar-collapse.in {

      position: absolute;
      background: #ddd;
      width: 100%;
      top: 77px;
      z-index: 9999;

  }

  .signinup{
    border-radius: 4px;
    border: solid 1px #e80062;
    background: #e80062;
    width: 48px;
    font-size: 55%;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
    float: right;
    margin-right: -10px;
  }

  .signinup a{
    color: #fff !important;
    text-decoration: none;
  }

  .signinup a:hover{
    text-decoration: underline !important;
  }

  .rdcm{
    margin-top: 10px;
    margin-bottom: 10px;
  } 

  /***sidebar***/
  
  .gettouch{    
    text-align: center;
  }
  /*
  .gettouch h3{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    color: #222222 !important;
  }

  .gettouch strong{
    font-family: Catamaran;
      font-weight: 400;
      font-size: 120%;
      color: #222222 !important;
      text-transform: uppercase;
  }

  .gettouch a{
    font-family: Catamaran;
      font-weight: 400;
      font-size: 100%;
      /***color: #222222 !important;
  }*/

  h3.adcustom{
    font-size: 90%;
    line-height: 150%;
  }


  /***footer***/
  ul.smedia{
    padding: 5px 0 20px 0;

    margin: 0;
  }

  ul.smedia li{
    list-style: none;
    display: inline;
  }

  ul.footpage{
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
  }

  ul.footpage li{
    list-style: none;
    display: inline;
    padding-right: 10px;
  }

  p.cfoot{
    font-size: 70%;
  }

  /***slider**/

  .carousel-indicators-1{
    display: none !important;
  }
  /*
  div.slider-caption ul.post-categories{ Gio: who put this in?
    display: none !important;
  }*/

  #HomeSliderCarousel .slider-caption {
      min-height: 48px !important;
      top: inherit !important;
      bottom: 0 !important;
      width: 100% !important;
      padding-top: 2% !important;
  }
  
  /*
  #HomeSliderCarousel .hslide_the_title { Gio: who put this in? /
      font-size: 70% !important;
  }*/

  #HomeSliderCarousel .carousel-indicators-1 li{
    height: 70px;
  }

  #HomeSliderCarousel .slider-caption .post-categories li a {
      font-size: 80% !important;
  } 
  /*
  #HomeSliderCarousel .hslide_the_excerpt{ Gio: who put this in? /
      display: none !important;
  }*/

  span.mobile-title{
    font-size: 80% !important;
  }

  .modal-login-area {
      padding: 10px;
      z-index: 9999
  }

  .modal-dialog {
      margin: 15% auto !important;
  }

  #loginform input[type="text"], #loginform input[type="password"]{
    width: 100% !important;
  }

  .cwidth{
    width: 100%;
    margin: 0 auto;
  }

  /***my account***/

  .yp {
		    margin-bottom: 20px;
		}
		

		.yp-line {
		    position: absolute;
		}

		.yp-reco{
			width: 100%;
		    margin: 0 auto;
		}


		.yp-estab {
		    width: 56%;
		    margin: 0 auto;
		}

		.yp-grab{
			width: 70%;
		    margin: 0 auto;
		}

		.yp-deal{
			width: 70%;
		    margin: 0 auto;
		    margin-bottom: 20px;
		}

		.yp-ld{
			background: url('images/yp-md-box.jpg') 100% 100% no-repeat !important;
		    width: 100%;
		    font-size: 100%;
		    padding-top: 26px;
    		font-size: 90%;
    		margin: 20px 0 20px 0;
		}


		.ylr-content-details {
		    width: 180px;
		}

		.ylr {
		    background: #fc1d78;
		    min-height: 579px;
		    width: 300px;
		    margin: 0 auto;
		}

}



@media screen and (min-width: 320px) and (max-width: 359px) {

  .header-wrap{
      margin-top: 5% !important;
  }

  .navbar-toggle{
      margin-top: 85px;
      margin-left: -73px;
  }

  .navbar-collapse.in {
      top: 77px;
  }

  .signinup {
      margin-top: -55px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }
  

}

@media screen and (min-width: 360px) and (max-width: 374px) {

  .navbar-toggle{
        margin-top: 85px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 83px;
  }

  .signinup {
      margin-top: -60px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

@media screen and (min-width: 375px) and (max-width: 411px) {

  .navbar-toggle{
        margin-top: 88px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 86px;
  }

  .signinup {
      margin-top: -60px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

@media screen and (min-width: 412px) and (max-width: 413px) {

  .navbar-toggle{
        margin-top: 90px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 89px;
  }

  .signinup {
      margin-top: -60px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

@media screen and (min-width: 414px) and (max-width: 639px) {

  .navbar-toggle{
        margin-top: 91px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 89px;
  }

  .signinup {
      margin-top: -60px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

@media screen and (min-width: 640px) and (max-width: 666px) {

  .navbar-toggle{
        margin-top: 95px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 95px;
  }

  .signinup {
      margin-top: -65px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

@media screen and (min-width: 667px) and (max-width: 767px) {

  .navbar-toggle{
        margin-top: 95px;
        margin-left: -75px;
  }

  .navbar-collapse.in {
      top: 91px;
  }

  .signinup {
      margin-top: -60px;
  }

  /***login***/
  .login-modal .modal-dialog {
      width: 88%;
  }

}

/* pop up filters for products and establishments */
@media screen and (max-width:767px){
  #filters-box{
    display:none;
  }
  .filters-box-overlay{
    display:none;
  }


  .filters-box-overlay.displayOn {
      display:block;
      position: fixed;
      left: 0;      
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 500;
  }

  .btn-filters {
    display: block;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    background: #e80062;
    color: #fff;
    border: 0;
  }

  #filters-box.displayOn{
      position: absolute;
      /* max-width: 100%; */
      background: #fff;
      overflow: hidden;
      z-index: 600;
      margin:15px;
      padding: 10px;
      left: 0;
      top: 40px;
      display:block;
  }
}

/* pop up filters for products and establishments */
@media screen and (min-width:768px){
  .btn-filters{
    display:none;  
  }
}