/*HI RES*/
.erinyen .tp-thumb-title {
	font-size: 14px;
	padding: 9px 20px 9px 10px;
}
#main-search > div {
	margin: 0;
	padding: 0 5px;
}
@media all and (max-width: 1199px) {
 .socialicons span {
 font-size: 14px;
}
 .col-md-2.socialicons {
 padding: 0;
 padding-left: 10px;
}
 .nav > li:nth-child(1) > a {
 padding-left: 10px;
}
 .featured-item {
 max-height: 280px;
 border-radius: 50%;
 max-width: 280px;
 margin: 0 auto;
}
 .treatments-column-content {
 padding: 0 35px;
}
.single div#main > div, .page-template-default div#main > div {
 padding: 0 25px;
}
}
/*TABLETS*/
@media all and (max-width: 991px) {
 .site-header.affix {
 position: relative;
 border:none;
}
 .site-header.affix-top {
 position: relative;
 border:none;
}
 .pink-dashed span {
 font-size:22px;
}
 .nav > li > a {
 font-size: 13px;
 padding: 10px 10px;
}
 .register-btn {
 font-size:15px;
}
 .socialicons {
 padding-right:0;
 margin-right: 0;
}
 .socialicons .fa {
 font-size: 13px;
 height: 25px;
 line-height: 22px;
 width: 25px;
}
 #site-topmenu {
 display:none;
}
 #site-logo > a {
 display: block;
 text-align: center;
}
 .main-search {
 padding: 5px 15px;
}
 .navbar-nav {
 margin: 10px;
}
 .img-responsive.site-logo-img {
 max-width: 80%;
 height: auto;
}
 .s-widget > div > img {
 width: 100%;
}
 .nav > li:nth-child(1) > a {
 padding-left: 10px;
}
 .featured-item {
 max-height: 280px;
 max-width: 280px;
 border-radius: 50%;
}
}
@media all and (max-width: 860px) {
.home .erinyen .tp-thumb-title {
 font-size: 10px!important;
 padding: 5px!important;
 line-height: 1;
}
}
/*PHONES LANDSCAPE*/
@media all and (max-width: 767px) {
 .socialicons {
 display:none;
}
 div#main-search {
 width: 100%;
}
 div#main-registration {
 width: 40%;
 padding-right: 0!important;
}
 .navbar-nav > li > ul.sub-menu {
 position: inherit;
}
.category-recent-articles .recent-article-title .fp-title {
 margin-top: 10px;
}
.category-recent-articles .recent-article-thumb {
 max-height: inherit !important;
}
.category-video-box .post {
 min-height: inherit !important;
 position: relative;
 width: 100%;
}
.category-video-box .post img {
 position: relative!important;
 height: inherit!important;
}
.category-page .slick-slide img, .category-page .recent-article-row img, .category-page .category-videos img, .category-page .featured-category-video img, .category-page .category-articles img {
 width: 100%;
}
#main-search > div:nth-child(1) {
 max-width: 70%;
 width: 100%;
 float: left;
}
#main-search > div:nth-child(2) {
 max-width: 30%;
 width: 100%;
 float: left;
}
#main-search > div {
 margin: 0;
 padding: 0 5px;
}
.site-footer {
 padding: 25px;
}
.home .tp-thumbs.inner.erinyen {
 display:none;
}
.readmore.readmore-cat span {
 font-size: 14px;
}
.row.row-sidebar-wrap img {
 max-width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 width: 100%;
}
.row.row-sidebar-wrap {
 max-width: 360px;
 margin: 0 auto;
}
#main {
 padding: 0;
}
.page-template-page-brand .row.category-row {
  margin: 0 -35px;
  padding: 0;
}
.site-footer .container {
  padding: 0;
}
}

/*PHONES*/
@media all and (max-width: 479px) {
 #main-registration {
 display:none!important;
}
 div#main-search {
 width: 100%;
}
 .review-image, .review-title, .review-content {
max-width:100%;
display:block;
}
}
@media all and (min-width: 380px) {
.container {
 width: 100% !important;
 max-width:1170px !important;
}
}
/*home slider*/
@media all and (max-width:1460px) {
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(7) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 16.3%;
}
}
@media all and (max-width:1280px) {
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(6) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 19.5%;
}
}
@media all and (max-width:1040px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 67px;
}
.carousel-indicators-1 {
 left:20px !important;
}
}
@media all and (max-width:740px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 80px;
}
.carousel-indicators-1 {
 left:15px !important;
}
}
@media all and (max-width:670px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 90px;
}
#HomeSliderCarousel .desktop-title {
 display:none !important;
}
#HomeSliderCarousel .mobile-title {
 display:block !important;
}
}
@media all and (max-width:510px) {
#HomeSliderCarousel .carousel-indicators-1 li > span {
 font-size: 15px;
}
}
@media all and (max-width:425px) {
 #HomeSliderCarousel .carousel-indicators-1 li {
 height: 100px;
}
#HomeSliderCarousel .slider-caption {
 top: 8% !important;
}
#HomeSliderCarousel .slider-caption {
 min-height: 310px;
}
}
@media all and (max-width:310px) {
#HomeSliderCarousel .carousel-indicators-1 li {
 height: 105px;
}
.carousel-indicators-1 {
 left:10px !important;
}
#HomeSliderCarousel .carousel-indicators-1 li:nth-child(5) {
display:none;
}
#HomeSliderCarousel .carousel-indicators-1 li {
 width: 23.6%;
}
}
